@model HairSalonWeb.DataBase.IncomeMaterialHead

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IncomeMaterialHead</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncomeMaterialHeadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
